.select2 {
    width: 100% !important;
}
.select2-selection {
    border: 1px solid #d1d3e2 !important;
    border-radius: 5px !important;
    padding: 0.375em 0.75em !important;
    height: auto !important;
    color: #6e707e !important;
}

.img-thumbnail {
    max-width: 120px !important;
}
